<div class="page-header">
  
</div

<<<<<<< HEAD


<% @offers.each do |offer| %>
    <article class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> > <%= offer.title %> </h4>
            </div>
            <div class="col-md-3">
            <br>
                <%= image_tag(offer.picture_url, :width => 150, :height => 150) if offer.picture.present? %>   
            </div>       
            <div class="col-md-9"> 
    
                <div class="panel-body">
                    <p>
                        <%=h truncate(offer.description, :length => 100) %>  
                    </p>
                </div>
                <div class="panel-body">
                    <p>
                        <%= offer.valid_until %>
                    </p> 
                </div> 
                <div class="panel-body">
                    <a href="ofertaUsuario.html" button class="btn btn-primary" type="button">
                        Ver mas
                    </a>
                    <a href="editarOferta.html" button class="btn btn-primary" type="button">
                        Editar
                    </a>
                    
                    
                </div>
            </div>    
  
        </div>
    </article>
<% end %>


