<h1>Ofertas Disponibles</h1>
<p>Aqui van las ofertas :D</p>

<table>
  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= image_tag(offer.picture_url, :width => 100, :height => 100) if offer.picture.present? %></td>
        <th colspan="20"></th>
        <td><%= offer.title %></td>
        <th colspan="20"></th>
        <td><%= offer.description %></td>
        <th colspan="20"></th>
        <td><%= offer.valid_until %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>